#data:invalid {
    background: rgba(255, 0, 0, 0.41);
}
#data:valid {
    background: white;
}

.my-Table  {
    border: 1px solid black;
    border-collapse: collapse;
}
.my-Table td, .my-Table th {
    border: 1px solid black;
    padding: 8px;
}
.my-Table th {
    color: white;
    background: slategrey;
}
.classForm {
    display: inline-block;
    width: 80px;
}

#field-set {
    border-color: transparent;
}

#exit-detail {
    background: lightcyan;
    float: right;
}

.red {
    background: palevioletred;
    color: white;
}
