#data:invalid {
    background: rgba(255, 0, 0, 0.41);
}
#data:valid {
    background: white;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#myTable  {
    border: 1px solid black;
    border-collapse: collapse;
}
#myTable td, #myTable th {
    border: 1px solid black;
    padding: 8px;
}
#myTable th {
    color: white;
    background: slategrey;
}
.classForm {
    display: inline-block;
    width: 80px;
}

#field-set {
    border-color: transparent;
}

#exit-detail {
    background: lightcyan;
    float: right;
}
